body {
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: #e3e3e3;
	margin: 0;
	padding: 0;
	border: 0;
}

.container {
	width: 100%;
	position: relative;
	z-index: 1;
	
	margin: 0;
	padding: 0;
	border: 0;
}

.server_contact-container {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.cheat {
	display: none;
	width: 100%;
	margin-top: 40px;
	margin-bototm: 40px;
}

.entry-form-container {
	display: none;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

form.entry-form {
	background-color: #FFF;
	width: 300px;
	margin: 10px auto 10px;
	padding: 10px 0px 10px;
}

form.entry-from label {
	
}

input#user-email {
	width: 80%;
	background-color: #e3e3e3;
}

.submit-button {
	background-color: #e3e3e3;
	margin: 5px auto 5px;
	width: 100px;
	cursor: pointer;
}

.entry-form-container #user-error {
	display: none;
}

.servo-container {
	margin-top: 40px;
	width: 100%;
	text-align: center;
    
    display: none;
}
    	
.servo {
	z-index: 50;
    width: 80px;
    margin: auto;
}
    	
.servo-body {
    width: 80px;
    height: 160px;
   	border-radius: 5px;
    background-color: #000;
    z-index: 51;
    box-shadow: 0 2px 2px 2px #808080;
    -moz-box-shadow: 0 2px 2px 2px #808080;
  	-webkit-box-shadow: 0 2px 2px 2px #808080; 
}
   	
.servo-screw {
    height: 10px;
    width: 10px;
    line-height: 10px;
    text-align: center;
    font-size: 10px;
    background-color: #303030;
    color: #575757;
    -moz-box-shadow:    0px 0px 1px 1px #ccc;
  	-webkit-box-shadow: 0px 0px 1px 1px #ccc;
  	box-shadow:         0px 0px 1px 1px #ccc;	
    border-radius: 5px;
    position: absolute;
}
    	
.TL	{margin: 2px;}
.TR {margin-top: 2px; margin-left: 68px;}
.BL {margin: 2px; margin-top: 148px;}
.BR {margin-top: 148px; margin-left: 68px;}
.servo-head-fix {
   	height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 7.5px;
    text-shadow: .1px .2px #808080;
    margin-top: 2.5px;
    margin-left: 52.5px;
    font-size: 15px;
}
    	
.servo-label {
	height: 90px;
    width: 60px;
    background-color: #474747;
    border-radius: 10px;
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 50px;
    -moz-box-shadow: inset 0 0 3px 3px #808080;
	-webkit-box-shadow: inset 0 0 3px 3px #808080;
	box-shadow: inset 0 0 3px 3px #808080;
}
    	
.servo-head {
	background-color: #FFFFF2;
    position: absolute;
   	height: 20px;
    width: 120px;
    border-radius: 50px;
    margin-left: -20px;
    margin-top: 20px;
    		
    -moz-box-shadow: 0 0 0.5px 0.5px #808080;
	-webkit-box-shadow: 0 0 0.5px 0.5px #808080;
	box-shadow: 0 0 1px 1px #808080;
			
	z-index: 100;
}

.queue-buttons {
	margin-top: 20px;
}

.queue-button {
	font-size: 10px;
	padding: 10px;
	width: 40px;
	margin: auto;
	margin-bottom: 10px;
	background-color: #e5e5e5;
	cursor: pointer;
	-moz-box-shadow:    0px 0px 2px 2px #ccc;
  	-webkit-box-shadow: 0px 0px 2px 2px #ccc;
  	box-shadow:         0px 0px 2px 2px #ccc;
}

.queue-button-off {
	display: none;
}

.movement-buttons {
	margin-top: 20px;
	display: none;
}

.movebutton {
	
	font-size: 10px;
	padding: 10px;
	width: 40px;
	margin: auto;
	margin-bottom: 10px;
	background-color: #e5e5e5;
	cursor: pointer;
	-moz-box-shadow:    0px 0px 2px 2px #ccc;
  	-webkit-box-shadow: 0px 0px 2px 2px #ccc;
  	box-shadow:         0px 0px 2px 2px #ccc;
}

.question-lobby-game {
	font-size: 10px;
	padding: 10px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	display: none;
}

.startButton {
	font-size: 10px;
	padding: 10px;
	width: 40px;
	margin: auto;
	margin-top: 20px;
	background-color: #e5e5e5;
	cursor: pointer;
	-moz-box-shadow:    0px 0px 2px 2px #ccc;
  	-webkit-box-shadow: 0px 0px 2px 2px #ccc;
  	box-shadow:         0px 0px 2px 2px #ccc;
}