body {
	font-family: BrandonGrotesque-Regular;
	font-weight: normal; 
	font-style: normal; 
	font-size: 10px;
	color: #000000;
	
	-webkit-text-size-adjust: none;
}

h1 {
	font-size: 20px;
	line-height: 22px;
}

.entry-form-container {
	text-align: center;
}

#user-email-label, .submit-button, .entry-form-container #user-error {
	font-size: 14px;
	text-align: center;
}

input#user-email {
	line-height: 18px;
	height: 18px;
	vertical-align: middle;
	text-align: center;
}

/* PRODUCTION SCOPE */

/* HEADER CONTAINER */
.menu-container ul li {
	font-size: 24px;
	line-height: 60px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	text-align: center;
}

/* END HEADER CONTAINER */

/* SECTION */

.section {

}	

	.section-header {
		text-align: center;
	}

		.section-header p {
			font-size: 24px;
			line-height: 26px;
			text-align: center;
		}
	
	.section-content p {
		line-height: 32px;
		font-size: 28px;
		text-align: left;
		word-spacing: 2px;
		letter-spacing: 1px;
	}
	
	.prize-grid {
		text-align: center;
	}
	
		.prize-grid ul {
		
		}
		
			.prize-grid ul li {
				font-size: 28px;
				line-height: 30px;
				padding-top: 150px;
			}
				.prize-grid ul li.unset {
					color: #7e7e7e;
					font-style: italic;
				}
			
				.prize-grid ul li.won {
					color: #930202;
				}
				
	.instructions p {
		text-align: center;
		font-size: 28px;
		line-height: 30px;
	}
	
	.target-grid {
		text-align: center;
	}
	
		.target-grid p {
			margin-bottom:85px;
		}
	
		.target-grid ul {
		
		}
		
			.target-grid ul li p {
				margin-top: 50px;
			}
				.target-grid ul li.unset {
					color: #7e7e7e;
					font-style: italic;
				}
			
				.target-grid ul li.won {
					color: #930202;
				}
				
	.card-inner p.title {
		font-size: 39px;
		line-height: 41px;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 20px;
	}
	
	.score-item li {
		font-size: 30px;
		line-height: 58px;
		vertical-align: middle;
	}
	
	@media screen and (max-width: 400px) {
		.score-item li {
			font-size: 18px;
			line-height: 36px;
			vertical-align: middle;
			width: 90%;
			max-width: 780px;
			width:expression(document.body.clientWidth > 780? "780px": "auto" );
		}
	}
	
		.score-item li.user-details {
			text-align: left;
		}
		
		.score-item li.user-score {
			text-align: right;
		}

/* END SECTION */

/* TERMS & CONDITIONS */
	.terms-controller p {
		line-height: 1.4;
		font-size: 18px;
		text-align: center;
		text-decoration: underline;
		cursor: pointer;
	}
	
		.terms h2 {
			line-height: 1.4;
			font-size: 14px;
			text-align: center;
		}
		
		.terms ol {
			text-align: left;
			margin-left: 30px;
			list-style-type: decimal;
		}
		
			.terms ol li {
				vertical-align: top;
				display: list-item;
				text-align: left;
				font-size: 12px;
				line-height: 1.4;
				margin-left: 30px;
			}
/* END TERMS & CONDITIONS */

/* BACK TO TOP */

.back-top p {
	line-height: 17px;
	font-size: 15px;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* END BACK TO TOP */